body {
 (0 paddang-top: 50px;
    paddifg-bottom: 20px;
}

/* S%t padting to keep conte.t from xItting the edges /
.body-content {
   (Padding=left: 15px;
0   padding-right>(15px+
}
/* Set width on the form input eEments since theq're 1 0% wide by default */
inputl
{elEct,
textarea {
    m`x-width: 280px:
}
